@{
    ViewData["Title"] = "Home Page";
}
<section class="container" role="document">

    <section id="layerSlider" class="clearfix">
        <div id="slider" class="mainSearch">

            <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
            <script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1', 'jquery'); } else { lsjQuery("#layerslider_1").layerSlider({ responsive: false, responsiveUnder: 1280, layersContainer: 1280, skinsPath: 'http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/skins/' }) } }); </script><div class="ls-wp-fullwidth-container" style="height:700px;"><div class="ls-wp-fullwidth-helper"><div id="layerslider_1" class="ls-wp-container" style="width:100%;height:700px;margin:0 auto;margin-bottom: 0px;"><div class="ls-slide" data-ls=" transition2d: all;"><img src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/slider2bg.png" class="ls-bg" alt="slider2bg" /><img class="ls-l" style="top:63px;left:603px;white-space: nowrap;" data-ls="offsetxin:-100;durationin:300;easingin:linear;easingout:linear;" src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/bluebag.png" alt=""><img class="ls-l" style="top:54px;left:944px;white-space: nowrap;" data-ls="offsetxin:120;durationin:600;easingin:swing;" src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/blackbag.png" alt=""><img class="ls-l" style="top:199px;left:762px;white-space: nowrap;" data-ls="easingin:linear;scalexin:2;scaleyin:2;easingout:linear;scalexout:2;scaleyout:2;" src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/redbag.png" alt=""><h1 class="ls-l" style="top:171px;left:40px;font-weight:bolder;font-family:Raleway;font-size:40px;color:#e96969;white-space: nowrap;" data-ls="delayin:500;rotatexin:-90;transformoriginin:50% top 0;">SELL ANYTHING YOU WANT</h1><h3 class="ls-l bigFont" style="top:226px;left:40px;font-weight:bold;font-family:Roboto;font-size:20px;color:#444444;white-space: nowrap;" data-ls="delayin:600;rotateyin:-90;transformoriginin:50% top 0;">NEW STUFF - OLD STUFF - SERVICES - LOOKING FOR</h3><p class="ls-l hideME" style="top:269px;left:40px;width:515px;font-family:Roboto;font-size:16px;color:#797979;" data-ls="offsetxin:-80;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p></div><div class="ls-slide" data-ls=" transition2d: all;"><img src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/main.png" class="ls-bg" alt="LayerSlider Main" /><img class="ls-l" style="top:69px;left:725px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;offsetxout:0;offsetyout:-100;" src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/1.png" alt=""><img class="ls-l" style="top:107px;left:891px;white-space: nowrap;" data-ls="offsetxin:500;offsetxout:-500;" src="http://demo.joinwebs.com/classiera/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/2.png" alt=""><h1 class="ls-l" style="top:169px;left:86px;font-weight:bold;font-family:Raleway;font-size:45px;color:#ffffff;white-space: nowrap;" data-ls="delayin:500;rotatexin:-90;transformoriginin:50% top 0;">WORLD #1</h1><p class="ls-l" style="top:213px;left:86px;font-weight:bold;font-family:Raleway;font-size:45px;color:#ffffff;white-space: nowrap;" data-ls="delayin:800;rotateyin:-100;">PLATFORM FOR CLASSIFIED</p><p class="ls-l hideME" style="top:263px;left:86px;font-weight:500;font-family:Roboto;font-size:32px;color:#ffffff;white-space: nowrap;" data-ls="delayin:1200;rotatexin:-100;transformoriginin:50% top 0;">WITH MAXIMUM POSSIBILITIES</p><a href="http://demo.joinwebs.com/classiera/submit-ads/" target="_self" class="ls-l" style="top:335px;left:258px;" data-ls="offsetxin:0;offsetyin:80;delayin:500;offsetxout:0;offsetyout:-80;"><p class="sliderMore" style="padding-right:40px;padding-left:40px;font-family:Roboto;font-size:16px;line-height:50px;color:#fff;background:#444;border-radius:25px;white-space: nowrap;">Submit Ads</p></a><a href="http://demo.joinwebs.com/classiera/" target="_self" class="ls-l" style="top:335px;left:86px;" data-ls="offsetxin:-100;delayin:500;offsetxout:-100;"><p class="sliderMore" style=".sliderMore{border:5px solid #ffffff !important; background:#ffffff !important;};padding-right:40px;padding-left:40px;border-top:5px;border-right:5px;border-bottom:5px;border-left:5px;font-family:Roboto;font-size:16px;line-height:50px;color:#fff;background:#444444;border-radius:25px;white-space: nowrap;">View More</p></a></div></div></div></div>						<!--Search Section Start -->
            <div class="advanceSearch">
                <div class="advSearchBtn">
                    <!--Search bar hide Show Button -->
                    <div class="row">
                        <a id="searchbtn" href="#">
                            <i class="fa fa-search"></i>
                            <span>Advance Search</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </div>
                </div><!--END Search bar hide Show Button -->
                <div class="advSeachBar">
                    <!--AdvSeachBar Start -->
                    <div class="row">
                        <!--row Start -->
                        <form action="http://demo.joinwebs.com/classiera" method="get" id="views-exposed-form-search-view-other-ads-page" accept-charset="UTF-8">
                            <input placeholder="Enter keyword..." type="text" id="edit-search-api-views-fulltext" name="s" value="" size="30" maxlength="128" class="form-text classieraSearchAJax">
                            <span class="load-gif"><img src="http://demo.joinwebs.com/classiera/wp-content/themes/classiera/images/load.gif" alt="classiera loader"></span>
                            <ul class="classieraAjaxResult"></ul>
                            <!--Select Category-->
                            <select id="edit-field-category" name="category_name" class="form-select homeCategory" data-placeholder="Select Category..">
                                <option value="All"></option>
                                <option value="electronics">Electronics</option>
                                <option value="computers-and-laptops">- Computers And Laptops</option>
                                <option value="home-appliences">- Home Appliences</option>
                                <option value="mobile-and-tablets">- Mobile &amp; Tablets</option>
                                <option value="tv-and-lcd">- TV &amp; LCD</option>
                                <option value="jobs">Jobs</option>
                                <option value="accounts-jobs">- Accounts Jobs</option>
                                <option value="cleaning-washing">- Cleaning &amp; Washing</option>
                                <option value="data-entry">- Data Entry</option>
                                <option value="design-code">- Design &amp; Code</option>
                                <option value="finance-jobs">- Finance Jobs</option>
                                <option value="vehicles">Vehicles</option>
                                <option value="classic-fancy">- Classic &amp; Fancy</option>
                                <option value="expensive-cars">- Expensive Cars</option>
                                <option value="heavy-vehicles">- Heavy Vehicles</option>
                                <option value="van-trucks">- Van &amp; Trucks</option>
                                <option value="auto-parts">- Auto Parts</option>
                                <option value="real-estate">Real Estate</option>
                                <option value="commercial-local">- Commercial &amp; Local</option>
                                <option value="farms">- Farms</option>
                                <option value="home-office">- Home &amp; Office</option>
                                <option value="plaza-property">- Plaza &amp; Property</option>
                                <option value="flats">- Flats</option>
                                <option value="restaurants">Restaurants</option>
                                <option value="fast-food">- Fast Food</option>
                                <option value="fine-dinning">- Fine Dinning</option>
                                <option value="cafe-or-bistro">- Cafe or Bistro</option>
                                <option value="fast-casual">- Fast Casual</option>
                                <option value="burgers">- Burgers</option>
                                <option value="pets">Pets</option>
                                <option value="birds">- Birds</option>
                                <option value="cats">- Cats</option>
                                <option value="dogs">- Dogs</option>
                                <option value="fishes">- Fishes</option>
                                <option value="fancy-hens">- Fancy Hens</option>
                                <option value="services">Services</option>
                                <option value="photography">- Photography</option>
                                <option value="cleaning-services">- Cleaning Services</option>
                                <option value="educational">- Educational</option>
                                <option value="food-services">- Food Services</option>
                                <option value="home-office-removals">- Home &amp; Office Removals</option>
                                <option value="medical">- Medical</option>
                                <option value="hotel-travels">Hotel &amp; Travels</option>
                                <option value="hotels">- Hotels</option>
                                <option value="tour-packages">- Tour Packages</option>
                                <option value="events-nightlife">- Events &amp; Nightlife</option>
                                <option value="music-brands">- Music &amp; Brands</option>
                                <option value="clubs">- Clubs</option>
                                <option value="matrimonials">Matrimonials</option>
                                <option value="brides">- Brides</option>
                                <option value="casual-encounters">- Casual Encounters</option>
                                <option value="grooms">- Grooms</option>
                                <option value="uncategorized">Uncategorized</option>

                            </select>
                            <!--Select Category -->
                            <!--Choose Location-->
                            <select id="edit-ad-location" name="post_location" class="form-select homeCategory" data-placeholder="Select Location..">
                                <option value="All"></option>
                                <option value="Waterloo">Waterloo</option>
                                <option value="Pimlico">Pimlico</option>
                                <option value="Uxbridge">Uxbridge</option>
                                <option value="Guildford">Guildford</option>
                                <option value="Horley">Horley</option>
                                <option value="Forest Hill">Forest Hill</option>
                                <option value="Plaistow">Plaistow</option>
                                <option value="Woking">Woking</option>
                                <option value="Cricklewood">Cricklewood</option>
                                <option value="Camden">Camden</option>
                                <option value=" Farnborough"> Farnborough</option>
                                <option value="Kilburn">Kilburn</option>
                                <option value="Barnes">Barnes</option>
                                <option value="Putney">Putney</option>
                                <option value="Keston">Keston</option>
                                <option value="Herne Hill">Herne Hill</option>
                                <option value="Kennington">Kennington</option>
                                <option value="Aldgate ">Aldgate </option>
                                <option value="Edgware">Edgware</option>
                                <option value="Battersea">Battersea</option>
                                <option value="Balham">Balham</option>
                                <option value="Bromley">Bromley</option>
                                <option value="Sutton">Sutton</option>
                                <option value="Goldming">Goldming</option>
                                <option value="Aldershot">Aldershot</option>
                                <option value="Bexleyheath">Bexleyheath</option>
                                <option value="Bexley">Bexley</option>
                                <option value="Farnham">Farnham</option>
                            </select>
                            <!--End Choose Location -->
                            <!--Range Slider-->
                            <div class="range">
                                <div class="range-slider round" data-slider data-options="display_selector: #sliderOutput3;">
                                    <span class="range-slider-handle" role="slider" aria-valuenow="50" aria-valuemin="1" aria-valuemax="1000">
                                        <span class="range-slider-out" id="sliderOutput3"></span>
                                    </span>
                                    <span class="range-slider-active-segment"></span>
                                </div>
                            </div>
                            <input type="text" name="geo-location" id="geo-location" value="off" data-default-value="off">
                            <input type="text" name="geo-radius-search" id="geo-radius-search" value="500" data-default-value="500">
                            <input type="text" name="geo-search-lat" id="geo-search-lat" value="0" data-default-value="0">
                            <input type="text" name="geo-search-lng" id="geo-search-lng" value="0" data-default-value="0">
                            <!--End Range Slider-->
                            <button class="btn btn-primary form-submit submit" id="edit-submit-search-view" name="search" value="Search" type="submit">
                                <span>Search Now</span>
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div><!--row END -->
                </div><!--AdvSeachBar END -->
            </div>
            <!--END Search Section -->


        </div><!--End Div ID Slider -->
    </section><!--End layerSlider Area -->


    <script>
        jQuery(document).ready(function () {
            jQuery(".homeCategory").chosen();
        });
    </script><!--Premium Ads Section-->
    <section id="premiumAdv">
        @Html.Partial("_PremiumAdsPartial")
    </section><!--End premiumAdv-->		<!--End Premium Grid Section-->
    <!--Premium Ads Section End--><!-- Start our categories -->
    <section id="adsCategory">
        @Html.Partial("_CategoryV2Partial")
    </section>
    <!-- End our categories --><section id="googleAds">
        <div class="yourAdv">
            <a href="http://www.joinwebs.com" target="_blank"><img alt="image" src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/adv.png" /></a>
        </div>
    </section><!-- parallax -->
    <section class="parallaxV3" style="background: url('http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/parallaxbgv1-1.jpg') repeat;" data-equalizer="foo">
        <div class="row fullWidth">
            <div class="large-6 medium-6 columns" data-equalizer-watch="foo">
                <div class="parallax-text">
                    <h1>ARE YOU READY</h1>
                    <h3>FOR THE POSTING YOUR ADS ON <span>ClassiEra?</span></h3>
                    <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.Phasellusaccumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor..</p>
                    <a href="" class="button round">Get Started </a>
                </div>
            </div>
            <div class="large-6 medium-6 columns" data-equalizer-watch="foo">
                <div class="parallax-img">
                    <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/readywali.png" alt="front image">
                </div>
            </div>
        </div>
    </section>
    <!-- End Parallax --><!-- Ad Locations -->
    <section id="adLocations">
       @Html.Partial("LocationPartial")
    </section>
    <!-- End Ad Locations --><!-- Main Ads section Start -->
    <!-- Advertisement Section Start -->
    <section id="advertisement">
        <div class="row">
            <div class="mainHeading">
                <div class="large-7 medium-8 large-centered medium-centered columns">
                    <h2>ADVERTISEMENTS</h2>
                    <p><span class="line"><i class="fa fa-circle"></i></span></p>
                    <p>
                        A advertisement section where we have two types of ads listing one with grids and the other one with list view
                        latest ads, popular ads & random ads also featured ads will show below..
                    </p>
                </div>
            </div>
        </div><!-- END Heading Row-->
        <div class="row">
            <div class="advTopBar">
                <div class="large-6 medium-6 columns tabb tabs data-tab responsive-tabber">
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#panel1">Latest Ads</a></li>
                        <li class="tab-title"><a href="#panel2">Popular Ads</a></li>
                        <li class="tab-title"><a href="#panel3">Random Ads</a></li>
                    </ul>
                </div><!-- END tabber Div-->
                <div class="large-6 medium-6 columns view tabs data-tab responsive-tabber">
                    <span>View As</span>
                    <a class="act1 " href="http://demo.joinwebs.com/classiera/landing-page/?view-type=list"><i class="fa fa-list"></i></a>
                    <a class="act3 " href="http://demo.joinwebs.com/classiera/landing-page/?view-type=grid"><i class="fa fa-th"></i></a>
                </div><!-- END View Button-->
            </div>
        </div><!-- END Right Button Row-->
        <div class="row">
            <div class="advContent">
                <div class="tabs-content">
                    <div class="content active" id="panel1">
                        <div class="loop-content">
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-1-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Laptop For Sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Computers And Laptops</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/04-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/laptops-for-sales/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/laptops-for-sales/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Laptops For Sales</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Computers And Laptops</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/tab-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Tab for sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Mobile &amp; Tablets</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-18-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#435c70">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/photography-services/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/photography-services/">
                                            <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                            <span class="title">Photography Services</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Photography</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-17-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#4bb38b">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/">
                                            <i class="fa fa-github-alt" style="background-color:#4bb38b"></i>
                                            <span class="title">Cute Puppy for sales</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Dogs</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-16-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#d4849f">$1500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/designing-jobs/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/designing-jobs/">
                                            <i class="fa fa-black-tie" style="background-color:#d4849f"></i>
                                            <span class="title">Designing jobs</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Design &amp; Code</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- End Latest Ads -->
                    <div class="content" id="panel2">
                        <div class="loop-content2">
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/tab-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Tab for sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Mobile &amp; Tablets</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-18-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#435c70">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/photography-services/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/photography-services/">
                                            <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                            <span class="title">Photography Services</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Photography</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-1-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Laptop For Sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Computers And Laptops</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-17-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#4bb38b">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/cute-puppy-for-sales/">
                                            <i class="fa fa-github-alt" style="background-color:#4bb38b"></i>
                                            <span class="title">Cute Puppy for sales</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Dogs</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-16-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#d4849f">$1500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/designing-jobs/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/designing-jobs/">
                                            <i class="fa fa-black-tie" style="background-color:#d4849f"></i>
                                            <span class="title">Designing jobs</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Design &amp; Code</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/04-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/laptops-for-sales/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/laptops-for-sales/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Laptops For Sales</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Computers And Laptops</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/car-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#a676b8">$2500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/classic-car-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/classic-car-for-sale/">
                                            <i class="fa fa-car" style="background-color:#a676b8"></i>
                                            <span class="title">Classic Car For Sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Classic &amp; Fancy</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/Mens-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#435c70">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/mens-accessories/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/mens-accessories/">
                                            <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                            <span class="title">Mens accessories</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Photography</span>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- End box HTML -->
                        </div>
                    </div>

                    <!-- End Popular Ads -->
                    <div class="content" id="panel3">
                        <div class="loop-content3">
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/03-7-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#db3b30">$2500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/sweet-home-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/sweet-home-for-sale/">
                                            <i class="fa fa-home" style="background-color:#db3b30"></i>
                                            <span class="title">Sweet Home for sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Home &amp; Office</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-18-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#435c70">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/photography-services/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/photography-services/">
                                            <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                            <span class="title">Photography Services</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Photography</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/03-8-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#db3b30">$1500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/office-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/office-for-sale/">
                                            <i class="fa fa-home" style="background-color:#db3b30"></i>
                                            <span class="title">Office for sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Home &amp; Office</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-12-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#db3b30">$2500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/office-available-for-rent/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/office-available-for-rent/">
                                            <i class="fa fa-home" style="background-color:#db3b30"></i>
                                            <span class="title">Office available for rent</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Home &amp; Office</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/Mens-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#435c70">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/mens-accessories/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/mens-accessories/">
                                            <i class="fa fa-wrench" style="background-color:#435c70"></i>
                                            <span class="title">Mens accessories</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Photography</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/tab-01-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-tab-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Tab for sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Mobile &amp; Tablets</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-1-370x300.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$500</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-laptop-for-sale/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Laptop For Sale</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Computers And Laptops</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                            <div class="large-4 medium-6 columns advItems matchHeight end">
                                <div class="advItem">
                                    <div class="advItem-img">
                                        <img src="http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/01-3.jpg" alt="Image" />
                                    </div>
                                    <span class="price" style="background-color:#72a0d9">$150</span>
                                    <a class="hover" href="http://demo.joinwebs.com/classiera/latest-juicer-for-sales/"></a>
                                    <div class="info">
                                        <a href="http://demo.joinwebs.com/classiera/latest-juicer-for-sales/">
                                            <i class="fa fa-desktop" style="background-color:#72a0d9"></i>
                                            <span class="title">Latest Juicer for sales</span>
                                            <span class="cat">Category &nbsp;:&nbsp;Home Appliences</span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!--End Box -->
                        </div>
                    </div>
                    <!-- End Random Ads -->
                </div>
            </div>
        </div><!-- END Main Ads Section-->
        <div class="row">

            <div class="loadMore">
                <p>
                    <a href="http://demo.joinwebs.com/classiera/all-ads/">
                        <i class="fa fa-refresh"></i>View All
                    </a>
                </p>
            </div>

        </div><!-- End Row for View All Ads Button-->
    </section>
    <!-- END Advertisement Section-->
    <!--End Main Ads section --><!--Plans Section -->

    <section id="pricingPlanV1">
        @Html.Partial("PricingPlanPartial")
    </section><!--End pricingPlanV1 -->
    <!--Plans Section End--><!-- NewsLetter Start-->
    <section id="newsLetter" style="background: url(http://demo.joinwebs.com/classiera/wp-content/uploads/2015/12/subscribe_02.png);">
        @Html.Partial("NewsLetterPartial")
    </section>
    <!-- NewsLetter End-->
    <section id="company">
        <!-- Company Logos-->
        @Html.Partial("_CompanyPartial")
    </section>
</section>
